.DS_Store
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

.idea
**/node_modules/
**/tmp/

*.jar
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

file-uploads
backend/master/src/main/generated/**
deploy/

backend/config/jifa-ssh-key
backend/config/jifa-ssh-key.pub

*.hprof
.log

mat-deps
*.iml
cloud/jifa.tgz