.DS_Store
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

.idea
**/node_modules/
**/tmp/

*.jar
# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

file-uploads

*.hprof
.log

mat-deps
*.iml

k8s/*.tgz
cloud/
*.tgz

bin